extends layout
block content
  form(
    method='POST',
    action='/file/add/' + folderId,
    enctype='multipart/form-data'
  )
    .mb-3
      input#formFile.form-control(type='file', name='file', required)
    .mb-3
      button.btn.btn-dark.w-100(type=submit) Add File
